In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "../../data/SpamClassification/spam.csv",
    sep=",",
    header=0,
    encoding="ISO-8859-1",
)

print(df.shape)

df.head()

(5572, 5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
df = df[["v2", "v1"]]
df.columns = ["text", "label"]

df.head()

                                                text label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [4]:
print(f"Uniqe Labels: {df['label'].unique()}")

print(f'Amount of NaNs:\n{df.isna().sum()}')

df.tail()

Uniqe Labels: ['ham' 'spam']
Amount of NaNs:
text     0
label    0
dtype: int64

                                                   text label
5567  This is the 2nd time we have tried 2 contact u...  spam
5568              Will Ì_ b going to esplanade fr home?   ham
5569  Pity, * was in mood for that. So...any other s...   ham
5570  The guy did some bitching but I acted like i'd...   ham
5571                         Rofl. Its true to its name   ham

In [5]:
df = df.drop(df.index[df["label"].apply(type) == float].tolist(), axis=0)

unique_labels = df['label'].unique()
print(f"Uniqe Labels: {unique_labels}\n")
print(f"Amount of NaNs:\n{df.isna().sum()}\n")
print(f"New shape: {df.shape}")

df.tail()

Uniqe Labels: ['ham' 'spam']

Amount of NaNs:
text     0
label    0
dtype: int64

New shape: (5572, 2)

                                                   text label
5567  This is the 2nd time we have tried 2 contact u...  spam
5568              Will Ì_ b going to esplanade fr home?   ham
5569  Pity, * was in mood for that. So...any other s...   ham
5570  The guy did some bitching but I acted like i'd...   ham
5571                         Rofl. Its true to its name   ham

In [6]:
mapping = dict.fromkeys(unique_labels)
mapping['spam'] = 1
mapping['ham'] = 0


df['label'] = df['label'].map(mapping)

df.tail()

                                                   text  label
5567  This is the 2nd time we have tried 2 contact u...      1
5568              Will Ì_ b going to esplanade fr home?      0
5569  Pity, * was in mood for that. So...any other s...      0
5570  The guy did some bitching but I acted like i'd...      0
5571                         Rofl. Its true to its name      0

In [7]:
print(f"Ham labels amount: {(df['label'] == 0).sum()}")
print(f"Spam labels amount: {(df['label'] == 1).sum()}")

Ham labels amount: 4825
Spam labels amount: 747

In [8]:
df.to_csv("../../data/SpamClassification/preprocessed_spam.csv")