In [53]:
import pandas as pd

In [54]:
df = pd.read_csv(
    "../data/TweetsSentiment/tweets_labelled_09042020_16072020.csv",
    sep=";",
    header=0,
    index_col=0,
)

print(df.shape)

df.head()

(5000, 3)

,created_at,text,sentiment
id,,,
77522,2020-04-15 01:03:46+00:00,"RT @RobertBeadles: YoðŸ’¥\nEnter to WIN 1,000 Mon...",positive
661634,2020-06-25 06:20:06+00:00,#SriLanka surcharge on fuel removed!\nâ›½ðŸ“‰\nThe ...,negative
413231,2020-06-04 15:41:45+00:00,Net issuance increases to fund fiscal programs...,positive
760262,2020-07-03 19:39:35+00:00,RT @bentboolean: How much of Amazon's traffic ...,positive
830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,positive

In [55]:
df = df[["text", "sentiment"]]
df.columns = ["text", "label"]

df.head()

                                                     text     label
id
77522   RT @RobertBeadles: YoðŸ’¥\nEnter to WIN 1,000 Mon...  positive
661634  #SriLanka surcharge on fuel removed!\nâ›½ðŸ“‰\nThe ...  negative
413231  Net issuance increases to fund fiscal programs...  positive
760262  RT @bentboolean: How much of Amazon's traffic ...  positive
830153  $AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...  positive

In [56]:
print(f"Uniqe Labels: {df['label'].unique()}")

print(f'Amount of NaNs:\n{df.isna().sum()}')

df.tail()

Uniqe Labels: ['positive' 'negative' 'neutral' nan]
Amount of NaNs:
text        0
label    3700
dtype: int64

                                                     text label
id
411380  With ad revenues falling, whatâ€™s the impact on...   NaN
62318   RT @KelvinSCWong: Well another point to add to...   NaN
627230  $ITOX working on a contract with a fortune 500...   NaN
890123  $DIS it could break the 120 pin, then 125&gt; ...   NaN
301411  Amedisys Inc $AMED COO Christopher Gerard Sell...   NaN

In [57]:
df = df.drop(df.index[df["label"].apply(type) == float].tolist(), axis=0)

unique_labels = df['label'].unique()
print(f"Uniqe Labels: {unique_labels}\n")
print(f"Amount of NaNs:\n{df.isna().sum()}\n")
print(f"New shape: {df.shape}")

df.tail()

Uniqe Labels: ['positive' 'negative' 'neutral']

Amount of NaNs:
text     0
label    0
dtype: int64

New shape: (1300, 2)

                                                     text     label
id
75519   #stocks back from the recovery room: https://t...  positive
739234  RT @MacroCharts: Breadth â€“ expanding last week...  positive
254379  RT @MawsonResource: Rompas-Rajapalot: A Big Ne...   neutral
580441  $AAPL $QQQ Top may now be in. https://t.co/iNK...  positive
625070  GLG Partners LP short position in HILTON FOOD ...  negative

In [58]:
mapping = dict.fromkeys(unique_labels)
mapping['positive'] = 0
mapping['neutral'] = 1
mapping['negative'] = 2


df['label'] = df['label'].map(mapping)

df.tail()

                                                     text  label
id
75519   #stocks back from the recovery room: https://t...      0
739234  RT @MacroCharts: Breadth â€“ expanding last week...      0
254379  RT @MawsonResource: Rompas-Rajapalot: A Big Ne...      1
580441  $AAPL $QQQ Top may now be in. https://t.co/iNK...      0
625070  GLG Partners LP short position in HILTON FOOD ...      2

In [59]:
print(f"Positive labels amount: {(df['label'] == 0).sum()}")
print(f"Neutral labels amount: {(df['label'] == 1).sum()}")
print(f"Negative labels amount: {(df['label'] == 2).sum()}")

Positive labels amount: 528
Neutral labels amount: 424
Negative labels amount: 348

In [60]:
df.to_csv("../data/TweetsSentiment/preprocessed_tweets_labeled.csv", sep=";")